{% extends 'base.html.twig' %}

{% block title %} Register {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/login.style.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/script.js') }}"></script>
{% endblock %}

{% block body %}

{% if msg != 1 %}
    <p class="errormsg">{{ msg }}</p>
{% endif %}

{% if flag == TRUE %}

    <div class="login">
        <h1>Account Created Successfully.</h1>
        <a href="/login">Login Now</a>
    </div>

{% endif %}

{% endblock %}
